<%- include('../partials/header') %>

<h2>Enter New Flight Details</h2>
<form action="/flights" method="POST">

  <label>Departs Date:
    <input type="date" name="departs">
  </label><br>
  <label>Airline:
    <select name="airline">
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>
  </label><br>
  <label>Airport:
      <select name="airport">
          <option value="AUS">AUS</option>
          <option value="DFW">DFW</option>
          <option value="DEN">DEN</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
      </select>
    
  </label><br>
  <label>Flight Number:
    <input type="number" name="flightNo">
  </label>
  <label>
    <input type="submit">
  </label>
</form>

<%- include('../partials/footer') %>